.admin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 350px;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  padding: 40px;
  border-radius: 10px;
}
.login-form .title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.login-form .input-group {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  
  margin: 50px 0;
  border: 2px solid var(--secondary-purple);
  border-radius: 10px;
}
.login-form .input-group label {
  position: absolute;
  top: -15px;
  left: 15px;
  padding: 0 5px;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  
}
.login-form .input-group input {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border-radius: 10px;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  
  color: white;
  font-size: 17px;
}
.login-form .password-eye {
  height: 30px;
  margin-right: 5px;
  opacity: .5;
  cursor: pointer;
}
.login-form .password-eye svg {
  width: 30px;
  height: 30px;
}
.error-msg {
  position: absolute;
  bottom: -30px;
  display: flex;
  align-items: center;
  color: var(--error-color);
}
.error-msg svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.login-form .submit {
  width: 100%;
  padding: 15px;
  background: var(--secondary-purple);
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* ADMIN PANEL */
.admin-panel {
  width: 100%;
  height: calc(100vh - 50px);
}
.tabs-nav {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, .5);
}
.tabs-nav p {
  font-size: 18px;
  font-weight: 500;
  padding: 0 5px;
  margin: 0 20px;
  cursor: pointer;
}
.tabs-nav p.active::after {
  content: '';
  display: block;
  position: relative;
  left: -10px;
  width: calc(100% + 20px);
  height: 3px;
  margin-top: 5px;
  border-radius: 15px 15px 0 0;
  background: var(--secondary-purple);
}
.tab {
  height: calc(100% - 75px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding-top: 25px;
}
.tab .wrapper {
  width: 100%;
}
.tab .question-list, .tab .jobs-list {
  width: 100%;
}
.tab .question-list .question-card, .tab .jobs-list .job-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0;
  background: var(--bg-color);
  border-radius: 10px;
  padding: 20px 25px;
}
.tab .question-list .question-card .data, .tab .jobs-list .job-card .data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab .question-list .question-card:hover, .tab .jobs-list .job-card:hover {
  background: rgba(100, 100, 100, .05);
}
.tab .question-card .jobs {
  display: flex;
  font-size: 14px;
  opacity: .5;
  font-weight: 300;
}
.tab .question-card .job {
  margin-right: 7px;
}
.tab .question-card button, .tab .job-card button {
  background: transparent;
  padding: 0;
  margin-left: 10px;
}
.tab .question-card button svg, .tab .job-card button svg {
  width: 25px;
  height: 25px;
}
.tab .question-card button svg path, .tab .job-card button svg path {
  stroke: gray;
}
.tab .question-card:hover button svg path, .tab .job-card:hover button svg path {
  stroke: white
}
.tab .question-card .btns, .tab .job-card .btns {
  display: flex;
  position: relative;
}
.tab .question-card .btns .confirmation-btn, .tab .job-card .btns .confirmation-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.tab .question-card .btns .confirmation-btn p, .tab .job-card .btns .confirmation-btn p  {
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}
.tab .question-card .btns .confirmation-btn p:first-of-type, .tab .job-card .btns .confirmation-btn p:first-of-type {
  background: var(--error-color);
  margin-right: 10px;
}
.tab .question-card .btns .confirmation-btn p:last-of-type, .tab .job-card .btns .confirmation-btn p:last-of-type {
  background: white;
  color: var(--bg-color);
}
.question-list .question-card .modify-question-component {
  padding: 30px 0 10px;
}
.question-list .modify-question-component .loading {
  text-align-last: left;
}
.modify-question-component .input-group, .modify-job-component .input-group {
  position: relative;
  font-size: 13px;
}
.modify-job-component .job-content-input-group .error-msg {
  bottom: 5px;
}
.modify-question-component .error-msg {
  bottom: -20px;
}
.modify-job-component .error-msg {
  bottom: -1px;
}
.modify-question-component .input-group input, .modify-job-component .input-group input, .modify-job-component .input-group textarea {
  width: 50%;  
  padding: 5px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'poppins', sans-serif;
}
.modify-job-component .input-group input, .modify-job-component .input-group textarea {
  margin: 20px 0;
}
.modify-job-component .input-group textarea, .create-job-form textarea {
  width: calc(100% - 10px);
  height: 7em;
  font-family: 'poppins', sans-serif;
}
.question-list .modify-question-component .jobs-group {
  margin: 20px 0;
}
.modify-question-component .jobs-group input {
  margin-right: 5px;
}
.modify-question-component .submit, .modify-job-component .submit {
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--secondary-purple);
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}
.modify-question-component .cancel-btn, .modify-job-component .cancel-btn {
  cursor: pointer;
  font-size: 14px;
}
.create-question-component, .create-job-component {
  padding: 20px 25px;
}
.create-question-component .create-question-form, .create-job-component .create-job-form {
  padding-top: 20px;
}
.create-question-component .question-input, .create-job-component .job-input {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 3px;
  font-family: 'poppins', sans-serif;
}
.create-question-component .input-group, .create-job-component .input-group {
  position: relative;
}
.create-question-component .input-group .error-msg, .create-job-component .input-group .error-msg {
  bottom: -25px;
  font-size: 14px;
}
.create-job-component .job-content-input-group .error-msg {
  bottom: 13px;
}
.create-job-form .input-group textarea {
  margin: 30px 0;
  border-radius: 3px;
  padding: 5px;
}
.create-question-form .jobs-list-status {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px;
  padding-right: 80px;
  margin: 20px 0;
  color: rgba(128, 128, 128, .8);
  user-select: none;
  cursor: pointer;
}
.create-question-form .jobs-list-status::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  margin-right: 7px;
  border-right: 2px solid rgba(128, 128, 128, .8);
  border-top: 2px solid rgba(128, 128, 128, .8);
  transform: rotate(45deg);
  transition: transform .2s;
}
.create-question-form .jobs-list-status.deployed::before {
  transform: rotate(135deg);
  margin-bottom: 2px;
}
.create-question-form .jobs-list {
  position: relative;
  margin-bottom: 20px;
  margin-left: 40px;
}
.create-question-form .jobs-list input {
  margin-right: 10px;
}
.create-question-form .jobs-list label {
  user-select: none;
}
.create-question-form .jobs-list .error-msg {
  bottom: -17px;
  font-size: 14px;
}
.create-question-form .btns, .create-job-form .btns {
  display: flex;
  align-items: center;
}
.create-question-form .submit, .create-job-form .submit {
  padding: 7px 15px;
  border-radius: 5px;
  background: var(--secondary-purple);
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
.create-question-form .btns .success-msg, .create-job-form .btns .success-msg {
  font-size: 14px;
  color: var(--success-color);
}
.tab .jobs-list .job-card .data .title-and-content {
  width: calc(100% - 70px);
}
.tab .jobs-list .job-card .data .content {
  display: flex;
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: .3;
  font-weight: 300;
  font-size: 14px;
}
.tab .data-container {
  width: 100%;
  padding: 20px 25px;
}
.tab .data-container .title {
  font-size: 20px;
  font-weight: 500;
}
.data-container .data-list {
  margin-top: 30px;
  margin-left: 30px;
}
.data-container .data-list span {
  font-size: 25px;
  font-weight: 700;
  margin-right: 3px;
}