.login-form {
  width: 350px;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  padding: 40px;
  border-radius: 10px;
}
.login-form .form-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.login-form .input-group {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  
  margin: 50px 0;
  border: 2px solid var(--secondary-purple);
  border-radius: 10px;
}
.login-form .input-group label {
  position: absolute;
  top: -15px;
  left: 15px;
  padding: 0 5px;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  
}
.login-form .input-group input {
  width: calc(100% - 30px);
  padding: 10px 15px;
  border-radius: 10px;
  background: var(--primary-purple);
  background: var(--light-bg-color);
  
  color: white;
  font-size: 17px;
}
.login-form .password-eye {
  height: 30px;
  margin-right: 5px;
  opacity: .5;
  cursor: pointer;
}
.login-form .password-eye svg {
  width: 30px;
  height: 30px;
}
.login-form .error-msg {
  position: absolute;
  bottom: -30px;
  display: flex;
  align-items: center;
  color: var(--error-color);
}
.login-form .error-msg svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.login-form .submit {
  width: 100%;
  padding: 10px;
  background: var(--secondary-purple);
  font-size: 18px;
  font-weight: 500;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
}
form .redirect {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
form .redirect span {
  cursor: pointer;
  color: var(--secondary-purple);
  text-decoration: underline;
}