.container-cards div div {
  position: relative;
  width: 300px;
  height: 37vh;
  padding-bottom: 40px;
}
.question-card .qrCodeDone {
  width: 60%;
  padding-top: 30px;
}
.container-cards div div .question-card {
  position: absolute;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  background: var(--secondary-purple);
  border-radius: 8px;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  animation: apparingCard 0.8s 2s forwards;
  bottom: 0;
  z-index: 3;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
@keyframes apparingCard {
  0% {
    transform: scale(0) translateY(-30%);
  }
  40% {
    opacity: 1;
    transform: scale(1.2) translateY(-30%);
  }
  70% {
    opacity: 1;
    transform: scale(1.2) translateY(-15%);
  }
  100% {
    opacity: 1;
  }
}
.question-card.number1.swipe-right {
  animation: swipeRight 1s ease-in-out forwards;
}
@keyframes swipeRight {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: translateX(150%) rotateZ(15deg);
  }
  100% {
    opacity: 0;
    transform: translateX(150%) rotateZ(15deg);
  }
}
.question-card.number1.swipe-left {
  animation: swipeLeft 1s ease-in-out forwards;
}
@keyframes swipeLeft {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: translateX(-150%) rotateZ(-15deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-150%) rotateZ(-15deg);
  }
}
.question-card.number1.swipe-down {
  animation: swipeDown 1s ease-in-out forwards;
}
@keyframes swipeDown {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    transform: translateY(150%) scale(0.8);
  }
  100% {
    opacity: 0;
    transform: translateY(150%) scale(0.8);
  }
}

.container-cards div div .question-card.number3 {
  transition: all 2s ease-in-out;
  background-color: #5858b675;
  animation: apparingCard 0.8s forwards;
  transform: scale(0.8) translateY(22%);
  cursor: default;
  pointer-events: none;
  z-index: 1;
}
.container-cards div div .question-card.number2 {
  background-color: #5858b6;
  animation: apparingCard 0.8s 1s forwards;
  transform: scale(0.9) translateY(10%);
  cursor: default;
  pointer-events: none;
  z-index: 2;
}
.container-cards div div .question-card.other {
  background-color: #5858b600;
  transform: translateY(30%);
  z-index: 0;
  visibility: hidden;
  opacity: 0;
}
.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-cards .button-container {
  display: flex;
  flex-direction: row;
  width: 390px;
  margin-top: 15%;
  height: auto;
  justify-content: space-between;
  animation: apparingButtons 1.5s 1.5s forwards;
  opacity: 0;
}
@keyframes apparingButtons {
  0% {
    opacity: 1;
    transform: translateX(-15vw);
  }
  40% {
    opacity: 1;
    transform: rotateZ(10deg) translateX(10vw);
  }
  70% {
    opacity: 1;
    transform: rotateZ(-5deg) translateX(-3vw);
  }
  100% {
    opacity: 1;
  }
}

.container-cards .button-container div {
  height: 0;
  width: 20%;
  padding-bottom: 10%;
  padding-top: 10%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container-cards .button-container .idk-button svg {
  width: 30px;
  height: 30px;
}

.dislike-button {
  background-color: var(--error-color);
}

.like-button {
  background-color: var(--secondary-purple);
}

.idk-button {
  background-color: var(--light-purple);
}
