.jobs-title-main-component hr {
  border-color: var(--light-bg-color);
  border-width: 3px;
  border-style: solid;
  border-radius: 2px;
}
.jobs-container .jobs-card hr {
  border-color: var(--light-bg-color);
  border-width: 1px;
  width: 100%;
}
.jobs-title-main-component {
  position: absolute;
  top: 30px;
  width: calc(100% - 400px);
}
.jobs-title-main-component h1 {
  margin-bottom: 20px;
  padding-left: 50px;
  font-size: 25px;
}
.jobs-container .jobs-card .jobs-title {
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
}
.jobs-container .jobs-card .jobs-content {
  width: calc(100% - 50px);
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
  font-size: 14px;
  height: calc(100vh / 4);
  white-space: pre-line;
}
.jobs-container .jobs-card .jobs-content p {
  height: 100%;
}
.jobs-container {
  position: relative;
  margin-top: 65px;
  overflow-y: auto;
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.jobs-container .jobs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  margin-right: calc(100% / 20);
  margin-bottom: 30px;
  background-color: var(--primary-purple);
  border-radius: 10px;
  transition: all ease-in-out 1s;
  overflow: hidden;
}

.jobs-container .jobs-card button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  background-color: transparent;
  border-radius: 5px;
  border: #f7f7f7 solid 1px;
  color: #f7f7f7;
  width: calc(100% / 2);
  padding: 8px 0;
  text-align: center;
  transition: all ease-in-out 0.4s;
}
.jobs-container .jobs-card button svg {
  margin-right: calc(100% / 10);
}

.jobs-container .jobs-card button:hover {
  color: var(--primary-purple);
  border-color: var(--primary-purple);
  background-color: #f7f7f7;
}
.jobs-container .details {
  position: absolute;
  transform: rotateY(720deg);
  width: 100%;
  height: 100%;
  z-index: 5;
}
.jobs-container .closeBtn {
  position: absolute;
  transform: rotateZ(45deg);
  top: 27px;
  right: 45px;
  height: 35px;
  width: 35px;
}
.jobs-container .closeBtn svg {
  width: 100%;
  height: 100%;
}
.jobs-container .details .jobs-title {
  padding: 30px 50px;
  align-self: flex-start;
  font-size: 20px;
}
.jobs-container .details .jobs-content {
  text-align: start;
  align-self: flex-start;
  padding-left: 100px;
  width: calc(100% - 220px);
  height: calc(100% - 150px);
}
.jobs-container .details .jobs-content {
  font-size: 15px;
  overflow-y: auto;
}
.jobs-container .details .jobs-content p {
  margin-top: 20px;
  height: auto;
}
.jobs-container .details .jobs-content img {
  height: 70%;
  width: auto;
  float: right;
  margin: 20px 0 20px 20px;
}
