.menu {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-purple);
}
.menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menu h1 {
  margin-right: 10px;
}
.menu .logo span {
  width: 19px;
  height: 25px;
  border-radius: 5px;
  background: var(--secondary-purple);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}
.menu .logo span:last-of-type {
  transform: rotate(20deg) translate(-9px, 3px);
}
.menu .links {
  display: flex;
  flex-direction: column;
}
.menu .links a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  padding-left: 25px; 
  font-size: 18px;
}
.menu .links svg {
  margin-right: 10px;
}
.menu .bottom {
  opacity: .3;
  margin-bottom: 20px;
  transition: opacity .3s;
}
.menu .bottom:hover {
  opacity: 1;
}
.menu .bottom a {
  display: flex;
  align-items: center;
  padding-left: 25px;
}
.menu .bottom svg {
  margin-right: 5px;
}