.menu {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-purple);
  background: var(--light-bg-color);
}
.menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menu h1 {
  margin-right: 10px;
}
.menu .logo span {
  width: 19px;
  height: 25px;
  border-radius: 5px;
  background: var(--secondary-purple);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.menu .logo span:last-of-type {
  transform: translateX(-19px);
  animation: slideLogo 0.8s forwards;
}
@keyframes slideLogo {
  0% {
  }
  100% {
    transform: rotate(20deg) translate(-9px, 3px);
  }
}
.menu .links {
  display: flex;
  flex-direction: column;
}
.menu .links a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  padding-left: 25px;
  font-size: 18px;
}
.menu .links svg {
  margin-right: 10px;
}
.menu .bottom {
  margin-bottom: 20px;
}
.menu .bottom a {
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 13px;
  opacity: .3;
  margin-top: 5px;
  transition: opacity 0.3s;
}
.menu .bottom a:hover {
  opacity: 1;
}
.menu .bottom svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
