.menu {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-purple);
  background: var(--light-bg-color);
}
.menu .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menu h1 {
  margin-right: 10px;
}
.menu .logo span {
  width: 19px;
  height: 25px;
  border-radius: 5px;
  background: var(--secondary-purple);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.menu .logo span:last-of-type {
  transform: translateX(-19px);
  animation: slideLogo 0.8s forwards;
}
@keyframes slideLogo {
  0% {
  }
  100% {
    transform: rotate(20deg) translate(-9px, 3px);
  }
}
.menu .links {
  display: flex;
  flex-direction: column;
}
.menu .links a {
  display: flex;
  align-items: center;
  padding: 15px 0;
  padding-left: 25px;
  font-size: 18px;
}
.menu .links svg {
  margin-right: 10px;
}
.menu .bottom {
  margin-bottom: 20px;
}
.menu .bottom a, .menu .bottom p {
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 13px;
  opacity: .3;
  margin-top: 5px;
  transition: opacity 0.3s;
  cursor: pointer;
}
.menu .bottom a:hover, .menu .bottom p:hover {
  opacity: 1;
}
.menu .bottom svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.menu .refresh-results-popup-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.menu .refresh-results-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: var(--light-bg-color);
  width: 300px;
  border-radius: 10px;
}
.menu .refresh-results-popup p {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}
.menu .refresh-results-popup div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.menu .refresh-results-popup button {
  width: 45%;
  border-radius: 5px;
  padding: 7px 0;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
  font-family: 'poppins', sans-serif;
}
.menu .refresh-results-popup button:first-of-type {
  background: var(--error-color);
  color: white;
}