* {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
input, button, textarea {
  border: none;
  outline: none;
  resize: vertical;
}
button {
  cursor: pointer;
}
.loading {
  font-size: 14px;
  opacity: .3;
  text-align: center;
}